# This is a basic workflow that is manually triggered to create DAHDI Release and Upload the same

name: DAHDI Release Creator

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    inputs:
      project_name:
        description: |
          Project Name for Creating Release:
          Examples:
            dahdi-linux, dahdi-tools, dahdi-linux-complete
        required: true
        type: string
        default: "dahdi-linux-complete"
      username:
        description: |
          Name of the Github User
        required: true
        type: string
        default: "Pushkar Singh"
      user_email:
        description: |
          Email Address of Github User
        required: true
        type: string
        default: "psingh@sangoma.com"
      release_version:
        description: |
          Release Version:
          Examples:
            3.1.0, 3.1.1, 3.2.0, 3.2.1 etc.
        required: true
        type: string
      rel_run:
        description: |
          If this is a Release Run or Test/Dry Run?
        required: true
        type: boolean
        default: true
      beta_rel:
        description: |
          If This is a Beta/RC Release version?
          Example: 1 , 2 ,3 etc.
        required: true
        type: string
      github_user_repo:
        description: |
          Which Github user repo need to be released
        required: false
        type: string
        default: "asterisk"


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  Release-DAHDI:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
# 0 is for release run and 1 is for dry/test run 
      - name: Run Release if it is release run
        if: ${{ inputs.rel_run }}
        run: bash ./ci/create-test-release.sh ${{ inputs.project_name }} ${{ inputs.release_version }} 0 ${{ inputs.beta_rel }} ${{ inputs.github_user_repo }} ${{ secrets.DAHDI_DEV_AUTH_KEY }} "${{ secrets.DAHDI_DEV_PRIV_GPG_KEY }}"

      - name: Run Release if its is dry run
        if: ${{ !inputs.rel_run }}
        run: bash ./ci/create-test-release.sh ${{ inputs.project_name }} ${{ inputs.release_version }} 1 ${{ inputs.beta_rel }} ${{ inputs.github_user_repo }} ${{ secrets.DAHDI_DEV_AUTH_KEY }} "${{ secrets.DAHDI_DEV_PRIV_GPG_KEY }}"
